{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/home.css")}}">
{% endblock %}

{% block body %}
<div class="accueil">
    <div class="en_cours">
        <div class="liste">
            <h3>Listening in progress</h3>
        </div>
    </div>
    <div class="main">
        <h1 class="gauche">Artistes en vogue</h1>
        <iframe class="incrustation" style="border-radius:12px" src="https://open.spotify.com/embed/artist/6wjkiUBMMYSIx5UBTp7eKC?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        <iframe class="incrustation" style="border-radius:12px" src="https://open.spotify.com/embed/artist/6wGLady41C5du6QFoqijIT?utm_source=generator" width="40%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>
{% endblock %}