{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/home.css")}}">
{% endblock %}

{% block body %}
<div class="accueil">
    <div class="en_cours">
        <div class="liste">
            <h3>Listening in progress</h3>
        </div>
    </div>
    <div class="">
        
    </div>
</div>
{% endblock %}